torch==2.2.1
numpy==1.26.4
river==0.21.0
networkx==3.2.1
matplotlib==3.8.3
scikit-learn==1.6.1
pandas==2.2.1
ctgan==0.9.1
PyYAML==6.0.2
capymoa==0.8.2
pmlb==1.0.1.post3
seaborn==0.13.2
critdd==0.0.5.dev0
scipy==1.12.0